@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

Link {
  color: white !important;
}

/* .brand-logo
{
  font-family: 'Abril Fatface', cursive;
} */

.mycard {

  margin-top: 20px;
}

.auth-card {
  margin: 10px auto;
  padding: 30px;
  text-align: center;
  max-width: 500px;
}


.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(76, 175, 80) !important;
  box-shadow: 0 1px 0 0 rgb(76, 175, 80) !important;
  caret-color: whitesmoke;
  color: whitesmoke !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(76, 175, 80) !important;
  box-shadow: 0 1px 0 0 rgb(76, 175, 80) !important;
  caret-color: whitesmoke;
  color: whitesmoke !important;
}

.input-field input[type=text] {

  caret-color: whitesmoke;
  color: whitesmoke !important;
}

.input-field input[type=password] {

  caret-color: whitesmoke;
  color: whitesmoke !important;
}


.login-link {
  color: #000;
}

#toast-container {
  top: 60px !important;
  right: 20px !important;
  left: auto !important;
}

.nav-wrapper {
  background-color: rgb(40, 44, 52) !important;
  border-bottom: 3px solid rgb(62, 68, 82) !important;
  box-shadow: 0 !important;
}

.nav-elem {
  /* border-right: 1px solid rgb(62, 68, 82) !important;
  border-left: 1px solid rgb(62, 68, 82) !important; */
  box-shadow: 0 !important;
}

.auth-card {
  background-color: rgb(40, 44, 52) !important;
  border: 3px solid rgb(62, 68, 82) !important;
}

.card-panel {
  background-color: rgb(76, 175, 80) !important;
}

.card {
  background-color: rgb(40, 44, 52) !important;
  border: 3px solid rgb(62, 68, 82) !important;
}

.main-logo {
  height: 100px;
  width: 100px;
}

.circle {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: rgb(76, 175, 80, 0.2);
  border: 3px solid rgb(76, 175, 80);
  border-radius: 50%;
}

.circle-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 220px;
  height: 220px;
  background-color: rgba(255, 205, 86, 0.2);
  border: 3px solid rgb(255, 205, 86);
  border-radius: 50%;
}

.text-circle-centered {
  color: rgb(255, 205, 86);
  margin: auto;
  font-size: xx-large;
}

.circle-selected {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: rgb(76, 175, 80, 0.2);
  border: 3px solid white;
  border-radius: 50%;
}

.circle-red {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 99, 132, 0.2);
  border: 3px solid rgb(255, 99, 132);
  border-radius: 50%;
}

.circle-red-selected {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 99, 132, 0.2);
  border: 3px solid white;
  border-radius: 50%;
}

.text {
  margin: auto;
  color: rgb(76, 175, 80);
  font-size: xx-large;
}

.text-red {
  margin: auto;
  color: rgb(255, 99, 132);
  font-size: xx-large;
}

#white-text-large {
  color: whitesmoke;
  font-size: large;
}

#white-text {
  color: whitesmoke;
}

#flex {
  display: flex !important;
}

#green-text {
  color: rgb(76, 175, 80) !important;
}

#green_input {
  color: rgb(76, 175, 80) !important;
  font-weight: bold !important;
}

#blue-text {
  color: rgb(32, 151, 207);
  font-size: large;
}

#yellow-text {
  color: rgb(255, 205, 86);
  font-size: large;
}

#blue-text-big {
  color: rgb(32, 151, 207);
}

#Modal-10 {
  background-color: rgb(40, 44, 52);
  color: white;
  border: 3px solid rgb(62, 68, 82) !important;
  outline: none !important;
}


.modal-footer {
  background-color: rgb(40, 44, 52) !important;
  border-top: 3px solid rgb(62, 68, 82) !important;
  outline: none !important;
}

.modal-bottom {
  background-color: rgb(40, 44, 52) !important;
  outline: none !important;
}

#modal-bottom {
  background-color: rgb(40, 44, 52);
  color: white;
  outline: none !important;
}

#button-modal {
  background-color: rgb(40, 44, 52);
  color: white;
  border: 3px solid rgb(62, 68, 82) !important
}


#blue-textLarge {
  color: rgb(32, 151, 207);
  font-size: 40px;
  text-decoration: underline;
}

#yellow-textLarge {
  color: rgb(255, 205, 86);
  font-size: 40px;
  text-decoration: underline;
}

#blue-button {
  background-color: rgb(32, 151, 207) !important;
}

#red-button {
  border: 3px solid rgb(255, 99, 132) !important;
  color: rgb(255, 99, 132);
  background-color: rgba(255, 99, 132, 0.2);
  font-size: large;
  font-weight: bold;
}

#green-button {
  border: 3px solid rgb(76, 175, 80) !important;
  color: rgb(76, 175, 80);
  background-color: rgb(76, 175, 80, 0.2);
  font-size: large;
  font-weight: bold;
}

.modal {
  max-height: 100%;
  overflow: visible
}

.collapsible-header {
  background-color: rgb(40, 44, 52) !important;
  border: 3px solid rgb(62, 68, 82) !important;
  color: white
}

.collapsible-body {
  background-color: rgb(40, 44, 52) !important;
  border: 3px solid rgb(62, 68, 82) !important;
  color: white
}

#to-center {
  width: 50% !important;
  margin: 0 auto !important;
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;

}